body {
  margin: 0px 500px;
}

/* title */
h1 {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}
h2 {
  border-bottom: 1px solid rgb(232, 234, 237);
  padding-bottom: 4px;
}
/*highlighting and emphasis*/
code {
  background-color: #d3d3d3;
  margin: 2px;
  color: red;
  font-family: Monaco, monospace;
}
.highlight_1 {
  background-color: yellow;
}
/*all sections*/
section {
  margin: 20px auto 90px 40px;
}
/*fixed element example*/
.fixed-element {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 0;
  border: 3px solid #b77ff0;
  background-color: #f08080;
  padding: 5px;
  font-size: small;
}
/*block section*/
.block .diagram-container div {
  background-color: lightcoral;
  border-radius: 2px;
  margin: 12px;
  padding: 5px;
}

.adjusted {
  width: 30%;
}

.inline .diagram-container div {
  background-color: lightcoral;
  border-radius: 2px;
  margin: 12px;
  padding: 5px;
  display: inline;
}

.inline-block .diagram-container div {
  background-color: lightcoral;
  border-radius: 2px;
  margin: 12px;
  padding: 5px;
  display: inline-block;
}

.height-adjusted {
  height: 40px;
}

.width-adjusted {
  width: 80px;
}
.relative .diagram-container {
  display: inline-block;
}
.box1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f08080;
  margin: 20px;
}

.box2 {
  display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #f08080;
}

.box2-rel {
  display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #f08080;
  position: relative;
  top: 30px;
}

.diagram-caption {
  margin: 20px;
  text-decoration: underline;
}

.box2-rel2 {
  display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #f08080;
  position: relative;
  top: 30px;
  left: 30px;
}
